@import 'menu';
$primary-color:rgb(247, 233, 115);
$secondary-color:rgba(42, 42, 46, 0.9);


*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
} 
body{ 
    height: 300vh;
}
a{
    text-decoration: none;
}
.menu-nav{
    position: fixed;
    background-color:$secondary-color;
    height: 13vh;
    width: 100%;
    .menu-btn {
        position: absolute;
        z-index: 3;
        right: 35px;
        top: 35px;
        cursor: pointer; 
        transition: 1s ;
        
        .btn-line {
            width: 28px;
            height: 4px;
            margin: 0 0 5px 0;
            transition: 0.5s ;
            background-color: #fff; 
        }
        
    }
    .close{
        //line 1 rotate
        :nth-child(1){
            transform: rotate(45deg) translate(5px,5px); 
        }
        //line 2 hide
        :nth-child(2){
            opacity: 0;
        }
        //line 3 rotate
        :nth-child(3){
            transform: rotate(-45deg) translate(7.5px,-7.5px); 
        }
    }
    
}
.menu{
    background-color:$secondary-color;
    visibility:hidden;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;

    .ul-nav{
        list-style:none;
        margin-top: 10vh;
    }
}
.nav_a{
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-color;
    font-family: 'Architects Daughter', cursive;
    font-size: 5vh;
    line-height: 3;
    cursor: pointer;
}
.linka{
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-color;
    font-family: 'Architects Daughter', cursive;
    font-size: 5vh;
    line-height: 3;

}

.show{
    visibility: visible;
}

.home{
    grid-template-areas: 'txt img';
    display: grid;
    height: 86vh;
    align-items: center;

    .my-icon{
        grid-area: img;
        // align-items: center;
        
        .eld_img{
            width: 60%;
            margin-left: 20%;
            // margin: 10vh 10vh 10vh 10vh;
        }
    }
    
    .minimal-text{
        grid-area: txt;
        align-items: center;
        // padding-top: 20vh;
    
       .lg-heading{
           font-family: 'Amaranth', sans-serif;
           padding-left: 1em;
           padding-bottom: 0.5em;
           font-size: 4em;
           
           .text-secondary{
               color: rgb(241, 218, 2) ;
            }
        }
        
        .sm-heading{
            // font-size: 10;
            font-family: 'Architects Daughter', cursive;
            padding-left: 3em;
            background-color:rgba(lighten($primary-color,2),0.5)    
        }
        
        .icons {
            padding-top: 1.5em;
            margin-top: 1rem;
            padding-left: 4em;
            
            a {
                color: $secondary-color ;
            padding: 0.4rem;
            
            &:hover {
                color: $primary-color;
            }
        }
    }
    }
}

.stack-title{
    font-family: 'Rubik Mono One', sans-serif; 
    text-align: center;
    font-size: 3em;
    background-color:rgba(lighten($primary-color,2),0.5)  
}

.space_title{
     margin-top: 20vh;   
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    min-height: 80vh;
    background-color: $primary-color;
    
    .box{
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        animation: animate 20s linear infinite;
        .stack-span{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform-origin: center;
            transform-style: preserve-3d;
            transform:rotateY(calc(var(--i) * 45deg)) translateZ(400px) ;
            -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#004);
        }

    }
    .img-stack{
        width: 25vh;
        top: 0;
        left: 0;
        object-fit: cover;    
    }
}

@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.section_education{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Mono One', sans-serif; 

    .education{
        position: relative;
        width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30x;
        
        .card:hover{
            height: 420px;
            background-color: $primary-color;
        }
        .card{
            position: relative;
            max-width: 300px;
            height: 215px;
            margin: 30px 10px;
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
            transition: 0.3s ease-in-out;
            font-size: 12px;
            
            
            .img_bx{
                position: relative;
                width: 260px;
                height: 260px;
                top: -60px;
                left: 20px;
                z-index: 1;
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

                .img_education{
                    max-width: 100%;
                    border-radius: 4px;
                }
                
            }

            .contect{
                position: relative;
                margin-top: -140px;
                padding: 10px 15px;
                text-align: center;
                color: #111;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s ease-in-out;
            }
        }
        .card:hover .contect{
            visibility: visible;
            opacity: 1;
            margin-top: -40px;
            transition-delay:0.2s ;
        }
    }
}

.projects-body{
    // width: 100%;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    .project{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 210px 210px 80px;
        grid-template-areas: "image" "tt" "stats";
        margin: 30px;
        border-radius: 18px;
        background-color: #fff;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
        text-align: center;
        
        .project-image1{
            background: url('../images/zivcom.png');
        }
        .project-image2{
            background: url('../images/flight.png');
            background-position: 50% ;
        }
        .project-image3{
            background: url('../images/calculator.png');
            background-position: 50% ;
        }
        .project-image{
            grid-area: image ;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            background-size: cover;
        }
        .project-text{
            grid-area: tt;
            margin-top: 25px;
            font-family: Arial, Helvetica, sans-serif;;
            .stack-pro{
                font-size: 13;
            }
            .stack-pro1{
                color: rgb(255,7,110);
            }
            .stack-pro2{
                color: rgb(255, 77, 7);
            }
            .stack-pro3{
                color: rgb(0, 189, 63);
            }
            
            .ul_pro{
                list-style: none;
                text-align: left;
                font-weight: 300;
                margin-top: 20px;
                margin-left: 20px;
            }
            
        }
        .project-stats{
            grid-area: stats ;
            display: grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows: 1fr;
            border-bottom-left-radius:15px ;
            border-bottom-right-radius:15px ;
            
            .state {
                border-right: rgb(255, 255, 255) 1px solid;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .state:active {
                transform: translateY(2px);
              }
            .state-no-border {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .state-no-border:active {
                transform: translateY(2px);
              }
            .link-to{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 10px;
                color: #fff;
            }
            .git{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 10px;
                color: #fff;
            }
        }
        .project-stats1{
            background-color:  rgb(255,7,110);   
        }
        .project-stats2{
            background-color:  rgb(255, 77, 7);   
        }
        .project-stats3{
            background-color:  rgb(0, 189, 63);   
        }
    }
}

@media only screen and (max-width: 600px) {
    .menu-nav{
        position: fixed;
    }
    .home{
        grid-template-areas: 
        'nn'
        'img'
        'txt';
        .my-icon{
            grid-area: img;
            align-items: center;
        }
    }
    
    .section2{
        display: inline;
        // margin-top: 50vh;
        .box{
            //margin-top: 20vh;
            position: absolute;
            width: 50px;
            height: 20vh;
            transform-style: preserve-3d;
            animation: animate 20s linear infinite;
            
            .stack-span{
                position: absolute;
                -webkit-box-reflect: below -100px linear-gradient(transparent,transparent,#004);
                
                .img-stack{
                    width: 15vh;
                    top: 0;
                    left: 0;
                    object-fit: cover;    
                }
            }
            
        }
    }
    .section_education{
        margin-top: 20vh;
    }
    .projects-body{
        display: table-row-group;
    }
}